<div align="center">
  <h2><%= link_to "Жанры", admin_genres_path%></h2>
  <h2><%= link_to "Группы", admin_artists_path%></h2>
  <h2><%= link_to "Альбомы", admin_albums_path%></h2>
  <h2><%= link_to "Песни", admin_songs_path%></h2>
</div>


