<div align="center">
<h2><%= link_to "Жанры", genres_path%></h2>
<h2><%= link_to "Группы", artists_path%></h2>
<h2><%= link_to "Альбомы", albums_path%></h2>
<h2><%= link_to "Песни", songs_path%></h2>
</div>